@media only screen and (max-width:1281px) {
    /* hi-res laptops and desktops */
    .wrap_title{
        font-size: 50px;
    }
}

@media only screen and (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .wrap_title{
        font-size: 45px;
    }
}

@media only screen and (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .wrap_title{
        font-size: 40px;
    }
}

@media only screen and (max-width:641px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .wrap_title{
        font-size: 32px;
    }
}

@media only screen and (max-width:481px) {
    /* smartphones, Android phones, landscape iPhone */
    .wrap_title{
        font-size: 25px;
    }
}

@media only screen and (max-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .wrap_title{
        font-size: 15px;
    }
}